html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.okno{
    background-color: rgb(241, 16, 8);
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}